p {
	font-family: 'Indie Flower', 'Ubuntu', sans-serif;
}

h1, {
	font-family: 'Indie Flower', sans-serif;
	font-weight:700;
}

h2, {
	font-family: 'Indie Flower', sans-serif;
	font-weight:700;
}

h3, h4, h5, h6 {
 font-family: 'Josefin Sans', sans-serif;
 font-weight:400;
}
